body {
    margin: 0;
    /*font-family: Arial, sans-serif;*/
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../assets/login-bg.jpg") no-repeat center center/cover;
}

.card {


    background: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 400px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card h1 {
    margin-bottom: 10px;
}

.card p {
    color: gray;
    margin-bottom: 20px;
}

button {
   /*width: 90%;*/
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

iconBtn: {
      padding: 12px;
      margin-top: 10px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
}
.userBtn {
    background-color: #4CAF50;
    color: white ;
}

.adminBtn {
    background-color: #2196F3;
    color: white;
}

button:hover {
    opacity: 0.9;
}